/* file: assignment02.css
   author: george corser (gpcorser@svsu.edu)
*/

/* --- put your css here --- */
/* Part 2 */
body {
  background-color: skyblue;
}

/* Part 3 */
#igottabeme {
  font-family: Arial, Helvetica, sans-serif;
}

/* Part 4 */
.classy {
  margin-left: 10px;
}

/* Part 5 */
div {
  margin-bottom: 50px;
}

/* Part 6 */
span {
  width: 100px;
  height: 50px;
  padding: 5px 20px 5px 20px;
  border: 5px solid blue;
  background-color: yellow;
}

/* Part 7 */
span.b {
  display: block;
}
span.c {
  display: inline-block;
}

/* Part 8 */

/* external css is imported into html using the <link> tag in the <head> section, as shown below.

  <head>
    <link rel="stylesheet" href="assignment02.css">
  </head>

*/

/* --- pre-existing css --- */
.stripey tr:nth-child(even) {
  background-color: gray;
}
.stripey tr:nth-child(odd) {
  background-color: white;
}
.stripey th {
  color: white;
  background-color: black;
}
.mousey td:hover {
  background-color: yellow;
}
.rightey td {
  text-align: right;
}
input[type="text"].pinkey:focus {
  background-color: pink;
}
